@import url(keyframes.css);
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background-color: #00091017; }

input {
  margin: -10px 0 0 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #000910b6;
  width: 100%;
  border-radius: 5px;
  color: black; }

::-moz-placeholder {
  color: transparent; }

.wrapper {
  max-width: 1000px;
  margin: 5% auto 0;
  padding: 5%;
  border: 0;
  height: 300px;
  color: #000910ce;
  font-size: 91%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: none; }
  .wrapper .card {
    width: 50%;
    height: 100%;
    margin: 2%;
    margin: 2%;
    padding: 5%;
    border: 0;
    box-shadow: 5px 5px 8px 1px #00091044;
    background-color: #00091004; }
    .wrapper .card h2 {
      text-align: center; }
    .wrapper .card .name, .wrapper .card .password {
      margin-bottom: -20px; }
    .wrapper .card .displayName {
      margin-bottom: 20px;
      animation: displayName .5s linear forwards; }

button {
  color: #f1f5f8;
  background-color: #c44536;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  border: 0; }

@keyframes displayName {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
