

//===================== COLORS
$body-color: #00091017;
$background-color: #00091004;
$border-color: #00091057;
$text-color: #000910ce;
$button-color: #c44536;
$box-shadow-color: #00091044;


// ===================FONT-SIZES
$text-font: 91%;
$header-font: 120%;

// ===================FONT_FAMILY
$text-font-family: Arial, Helvetica, sans-serif;
$header-font-family: 'Courier New', Courier, monospace