

//===================== COLORS
$body-color: #00091017;
$background-color: #00091004;
$border-color: #000910b6;
$text-color: #dbdfe2;
$header-color: #c44536;
$box-shadow-color: #00091044;


// ===================FONT-SIZES
$text-font: 81%;
$header-font: 120%;