
@import 'partials/variables';
@import 'partials/mixins';


@include google-font("Tangerine");
@include google-font("Inconsolata");
// // @include google-font("3d");
@include google-font("anaglyph");
@include google-font("Rancho&effect=shadow-multiple");

body {
  @include margin-padding-border(0, 0, 0);
  width: 100%;
  height: 100vh;;
  background-color: $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  @include margin-padding-border(0px 0 0% 0px,0 0 0 7px, 0);
  background-color:  transparent;
  border-bottom: 1px solid #000910b6;
  width: 95%;
  @include border-radius;
  color: black;

}

.wrapper {
  max-width: 1000px;
  color: $text-color;
  font-size: $text-font;
  font-family: $text-font-family;
  @include display($direction: column, $text-align: none);
  @include width-height(40%, 50%);
  .card{
    @include width-height(100%, 100%);
    @include display($direction: column, $text-align: none);
    @include margin-padding-border(2% ,5%, 0);
    @include box-shadow;
    background-color: $background-color;
    .signUp {
      flex: 1;
      font-family: $header-font-family;
      text-align: center;
    }
    .data  {
      width: 100%;}
    .floating-label {
      color: $text-color;
      position: absolute;
      pointer-events: none;
      left: 15px;
      top: 10px;
      transition: 0.2s ease all;
    }
    input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label {
      top: -16px;
    }
    .inputDiv  {
      margin: 10% 0;
      position: relative;
      padding-top: 10px;
    }
  }
  .card:hover {@include box-shadow-hover;}
}

button {
  @include button;
  @include margin-padding-border(5% 0 0 0 , 5px, 2px solid rgb(211, 190, 190));
  font-family: $text-font-family;
}
@media all and (max-width: 1000px) {
  .wrapper {@include width-height(70%, 60%);}
  .data {justify-content: space-evenly; }
  .card {
    width: 100%;
    font-size: 80%;
    .name, .password {  margin: 0 0 -14px 5px !important;   }
   input {font-size: 90% }
  }
}

