



@mixin google-font($font) {
  $font: unquote($font);
  // @import url(https://fonts.googleapis.com/css?family=#{$font});
  @import url(https://fonts.googleapis.com/css?family=Rancho&effect=#{$font});
}


@mixin button {
  color: #f1f5f8;
  background-color: $button-color;
  @include border-radius
}

@mixin border-radius {
  border-radius: 5px;
}

@mixin box-shadow {
  box-shadow: 5px 5px 8px 1px $box-shadow-color;
}

@mixin display($direction, $text-align) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  text-align: $text-align;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin margin-padding-border($margin, $padding, $border) {
  margin: $margin;
  padding: $padding;
  border: $border;
}

  @keyframes displayName {
      0% {
        transform: translateY(0px);
        opacity: 0;
      }
      50% {
        opacity: .5;
        transform: translateY(-35px);
      }
      100% {
        opacity: 1;
        transform: translateY(-35px);
      }
    }
