

//===================== COLORS
$body-color: #00091017;
$background-color: #00091004;
$border-color: #00091057;
$text-color: #000910ce;
$button-color: #c44436cb;


// =================HOVER COLOR
$button-color-hover: #c44436;
$box-shadow-color: #00091027;


// ===================FONT-SIZES
$text-font: 91%;
$header-font: 120%;

// ===================FONT_FAMILY
$text-font-family: "Inconsolata","Tangerine","Inconsolata", "anaglyph",Arial, Helvetica, sans-serif;
$header-font-family: "Rancho&effect=shadow-multiple","3d","Inconsolata",'Courier New', Courier, monospace,'Courier New', Courier, monospace;
