
*, *::before, *::after  {
  margin: 0;
  line-height: 1.7
}
.container1 {
  grid-area: section1;
  align-items: stretch
}
.container2 {
  grid-area: section2;
  align-items: start
}
.container3 {
  grid-area: section3;
  align-items: end
}
.container4 {
  grid-area: section4;
  align-items: center;
}

.background {
  display: grid;
  grid-template: 
   "section1 section2 section3" 33vh
   "section4 ........ ......." 33vh
   / 433px 433px 433px ;
}
.background * {
  border: 1px solid red;
}
.container {
  display: grid;
}
.container > div {
  height: 4vh;
  width: 150px;
  background-color: rgb(0, 255, 21);
  border: 1px solid green
}