
*, *::before, *::after  {
  margin: 0;
  line-height: 1.7
}
.container1 {
  grid-area: section1;
  align-content: center
}
.container2 {
  grid-area: section2;
  align-content: end; 
}
.container3 {
  grid-area: section3;
  align-content: stretch
}
.container4 {
  grid-area: section4;
  align-content: space-between;
}
.container5 {
  grid-area: section5;
  align-content: start;
}
.container6 {
  grid-area: section6;
  align-content:  space-around;
}
.container7 {
  grid-area: section7;
  align-content:  space-evenly;
}

.background {
  display: grid;
  grid-template: 
   "section1 section2 section3" 33vh
   "section4 section5 section6" 33vh
   "section7 ........ ........ " 33vh
   / 433px 433px 433px ;
}
.background * {
  border: 1px solid red;
}
.container {
  display: grid;
}
.container > div {
  /* height: 4vh;
  width: 150px; */
  background-color: aqua;
  border: 1px solid green
}