
*, *::before, *::after  {
  margin: 0;
  line-height: 1.6
}
.sidebar {
  background-color: orange;
   grid-area: side;
}

.header {
  background-color: green;
  grid-area: head;
}

.realtors {
  background-color: blue;
   grid-area: realtor;
}

.container {
  display: grid;
  border: 1px solid red;
  /* height: 500px; */
  /* width: 300px; */
  grid-template-columns: repeat(4, auto) ;
  grid-template-rows: repeat(3, 100px);

  grid-template-areas: 
    "side side side side"
    ". head . ."
    ". realtor realtor ."
}

div div, section, footer, header {
  /* height: 40px; */
  /* width: 500px */
}











/* 
.features {
  background-color: orange;
   grid-area: main;
}

.story_picture {
  background-color: purple;
   grid-area: main;
}

.story_content {
  background-color: pink;
   grid-area: main;
}

.homes {
  background-color: indigo;
  grid-area: footer;
}

.galary {
  background-color: green;
  grid-area: footer;
}

.footer {
  background-color: red;
   grid-area: footer;
} */

/* /////////////////////// */


