
*, *::before, *::after  {
  margin: 0;
  /* line-height: 1.6 */
}
.sidebar {
  background-color: #0e0801;
   grid-area: header;
}

.header {
  background-color: yellow;
  /* grid-area: header; */
}

.realtors {
  background-color: blue;
   /* grid-area: header; */
}

.features {
  background-color: orange;
   grid-area: main;
}

.story_picture {
  background-color: purple;
   /* grid-area: main; */
}

.story_content {
  background-color: pink;
   /* grid-area: main; */
}

.homes {
  background-color: indigo;
  grid-area: footer;
}

.galary {
  background-color: green;
  /* grid-area: footer; */
}

.footer {
  background-color: red;
   /* grid-area: footer; */
}

/* /////////////////////// */

.container {
  display: grid;
  border: 1px solid red;
  /* height: 500px; */
  /* width: 300px; */
  grid-template-columns: 50px auto;
  grid-template-rows: 100px 50px;

  grid-template-areas: 
    "head head head"
    "main . main"
    ". footer  footer"
}

div div, section, footer, header {
  /* height: 40px; */
  /* width: 500px */
}
